adfuswintp022021/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfuswintp022021"
		},
		"LS_AzureSQL_CargoDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AzureSQL_CargoDB'"
		},
		"LS_AzureSQL_CargoSourceDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AzureSQL_CargoSourceDB'"
		},
		"LS_AzureSQL_Parametrized_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AzureSQL_Parametrized'"
		},
		"LS_BlobStorageAcc_ipstorageaccount_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BlobStorageAcc_ipstorageaccount'"
		},
		"LS_CosmosDB_CargoDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_CosmosDB_CargoDB'"
		},
		"LS_CosmosDB_CargoDB_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "CargoDB"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_CargoDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_AzureSQL_CargoDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_CargoSourceDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_AzureSQL_CargoSourceDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_Parametrized')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"DBname": {
						"type": "string",
						"defaultValue": "CargoDB"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_AzureSQL_Parametrized_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BlobStorageAcc_ipstorageaccount')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BlobStorageAcc_ipstorageaccount_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CosmosDB_CargoDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDbMongoDbApi",
				"typeProperties": {
					"connectionString": "[parameters('LS_CosmosDB_CargoDB_connectionString')]",
					"database": "[parameters('LS_CosmosDB_CargoDB_properties_typeProperties_database')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR-Selfhosted-IPICoargoServer')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Source_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorageAcc_ipstorageaccount",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dsprSourceFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().dsprSourceFileName",
							"type": "Expression"
						},
						"container": "ltlorderspoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorageAcc_ipstorageaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Source_Trips')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorageAcc_ipstorageaccount",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Trips.csv",
						"container": "ltlorderspoc"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorageAcc_ipstorageaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Target_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorageAcc_ipstorageaccount",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dsprTargetFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().dsprTargetFileName,formatDateTime(utcnow(),'_yyyy-MM-dd hh:mm:ss'))",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
							"type": "Expression"
						},
						"container": "dispatchorders"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorageAcc_ipstorageaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Blob_Target_Trips')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorageAcc_ipstorageaccount",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "dispatchorders"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BlobStorageAcc_ipstorageaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CosmosDB_ClearedCargo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CosmosDB_CargoDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbMongoDbApiCollection",
				"schema": [],
				"typeProperties": {
					"collection": "ClearedCargo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CosmosDB_CargoDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_AggCargoInventory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_CargoDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CUST_CODE",
						"type": "varchar"
					},
					{
						"name": "CUST_NAME",
						"type": "varchar"
					},
					{
						"name": "OCEAN_AIR",
						"type": "varchar"
					},
					{
						"name": "FILES",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LOTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PICES",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CUBES",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AggCargoInventory"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_CargoDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Cargo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_CargoDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CSD_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FILE_NO",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NO",
						"type": "nvarchar"
					},
					{
						"name": "OCEAN_AIR",
						"type": "nvarchar"
					},
					{
						"name": "CUST_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STRIP_DATE",
						"type": "date"
					},
					{
						"name": "HOLD",
						"type": "nvarchar"
					},
					{
						"name": "DAD",
						"type": "nvarchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "CONTAINER",
						"type": "nvarchar"
					},
					{
						"name": "PCS",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "POUNDS",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "CUBE",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "PICKUP_DATE",
						"type": "date"
					},
					{
						"name": "HOUSE_REF_NO",
						"type": "nvarchar"
					},
					{
						"name": "COMMODITY1",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "ZIP_CNTY",
						"type": "nvarchar"
					},
					{
						"name": "CONSIGNEE",
						"type": "nvarchar"
					},
					{
						"name": "STATUS",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_YN",
						"type": "nvarchar"
					},
					{
						"name": "RELEASEFD_YN",
						"type": "nvarchar"
					},
					{
						"name": "INSERTED_TIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TblClearedCargo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_CargoDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_CargoSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_CargoSourceDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CSD_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FILE_NO",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NO",
						"type": "nvarchar"
					},
					{
						"name": "OCEAN_AIR",
						"type": "nvarchar"
					},
					{
						"name": "CUST_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STRIP_DATE",
						"type": "date"
					},
					{
						"name": "HOLD",
						"type": "nvarchar"
					},
					{
						"name": "DAD",
						"type": "nvarchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "CONTAINER",
						"type": "nvarchar"
					},
					{
						"name": "PCS",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "POUNDS",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "CUBE",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "PICKUP_DATE",
						"type": "date"
					},
					{
						"name": "HOUSE_REF_NO",
						"type": "nvarchar"
					},
					{
						"name": "COMMODITY1",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "ZIP_CNTY",
						"type": "nvarchar"
					},
					{
						"name": "CONSIGNEE",
						"type": "nvarchar"
					},
					{
						"name": "STATUS",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_YN",
						"type": "nvarchar"
					},
					{
						"name": "RELEASEFD_YN",
						"type": "nvarchar"
					},
					{
						"name": "INSERTED_TIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TblClearedCargo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_CargoSourceDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Cargo_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_CargoDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dsTableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().dsTableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_CargoDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Parameterized_LS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Parametrized",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBname": "CargoDB"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CSD_CODE",
						"type": "nvarchar"
					},
					{
						"name": "FILE_NO",
						"type": "nvarchar"
					},
					{
						"name": "LOT_NO",
						"type": "nvarchar"
					},
					{
						"name": "OCEAN_AIR",
						"type": "nvarchar"
					},
					{
						"name": "CUST_CODE",
						"type": "nvarchar"
					},
					{
						"name": "STRIP_DATE",
						"type": "varchar"
					},
					{
						"name": "HOLD",
						"type": "nvarchar"
					},
					{
						"name": "DAD",
						"type": "nvarchar"
					},
					{
						"name": "RECEIVED_DATE",
						"type": "date"
					},
					{
						"name": "CONTAINER",
						"type": "nvarchar"
					},
					{
						"name": "PCS",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "POUNDS",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "CUBE",
						"type": "decimal",
						"precision": 12,
						"scale": 3
					},
					{
						"name": "PICKUP_DATE",
						"type": "date"
					},
					{
						"name": "HOUSE_REF_NO",
						"type": "nvarchar"
					},
					{
						"name": "COMMODITY",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "ZIP_CNTY",
						"type": "nvarchar"
					},
					{
						"name": "CONSIGNEE",
						"type": "nvarchar"
					},
					{
						"name": "STATUS",
						"type": "nvarchar"
					},
					{
						"name": "TRANSFER_YN",
						"type": "nvarchar"
					},
					{
						"name": "RELEASEFD_YN",
						"type": "nvarchar"
					},
					{
						"name": "INSERTED_TIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TblDevannedCargo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_Parametrized')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_TradingPartner')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_CargoDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CUST_CODE",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_NAME",
						"type": "varchar"
					},
					{
						"name": "CUSTOMER_CONTACT",
						"type": "varchar"
					},
					{
						"name": "ADDRESSS1",
						"type": "varchar"
					},
					{
						"name": "ADDRESSS2",
						"type": "varchar"
					},
					{
						"name": "CITY",
						"type": "varchar"
					},
					{
						"name": "STATE",
						"type": "varchar"
					},
					{
						"name": "ZIP",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TblTradingPartner"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_CargoDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_RaiseError]"
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL_CargoDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_CargoDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_IncrementalSync')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get_last_sync_dt",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get_max_inserted_dt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "Select CSD_CODE\n,FILE_NO\n,LOT_NO\n,OCEAN_AIR\n,CUST_CODE\n,STRIP_DATE\n,HOLD\n,DAD\n,RECEIVED_DATE\n,CONTAINER\n,PCS\n,POUNDS\n,CUBE\n,PICKUP_DATE\n,HOUSE_REF_NO\n,COMMODITY1\n,STATE\n,ZIP_CNTY\n,CONSIGNEE\n,STATUS\n,TRANSFER_YN\n,RELEASEFD_YN\nFrom [dbo].[TblClearedCargo]\nwhere INSERTED_TIMESTAMP >'@{activity('get_last_sync_dt').output.firstRow.LastSyncTimestamp}'  and INSERTED_TIMESTAMP<='@{activity('get_max_inserted_dt').output.firstRow.MaxInsetedTimestamp}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_CargoSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Cargo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "get_last_sync_dt",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select LastSyncTimestamp,TableName from [dbo].[LogSyncTimestamp] where TableName='TblClearedCargo'",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Cargo",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "get_max_inserted_dt",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(INSERTED_TIMESTAMP) MaxInsetedTimestamp from [dbo].[TblClearedCargo]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_CargoSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_UPDATE_SYNCTIMESTAMP]",
							"storedProcedureParameters": {
								"SyncTimeStamp": {
									"value": {
										"value": "@activity('get_max_inserted_dt').output.firstRow.MaxInsetedTimestamp",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": {
										"value": "@activity('get_last_sync_dt').output.firstRow.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL_CargoDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-06T15:47:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_CargoSource')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Cargo')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_CargoDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_IncrementalSync_Parameterized')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get_last_sync_dt",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get_max_inserted_dt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "Select *\nFrom @{pipeline().parameters.TableName}\nwhere INSERTED_TIMESTAMP >'@{activity('get_last_sync_dt').output.firstRow.LastSyncTimestamp}'  and INSERTED_TIMESTAMP<='@{activity('get_max_inserted_dt').output.firstRow.MaxInsetedTimestamp}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_CargoSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Cargo_Dynamic",
								"type": "DatasetReference",
								"parameters": {
									"dsTableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "get_last_sync_dt",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select LastSyncTimestamp,TableName from [dbo].[LogSyncTimestamp] where TableName='@{pipeline().parameters.TableName}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Cargo",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "get_max_inserted_dt",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select max(INSERTED_TIMESTAMP) MaxInsetedTimestamp from @{pipeline().parameters.TableName}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_CargoSource",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_UPDATE_SYNCTIMESTAMP]",
							"storedProcedureParameters": {
								"SyncTimeStamp": {
									"value": {
										"value": "@activity('get_max_inserted_dt').output.firstRow.MaxInsetedTimestamp",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": {
										"value": "@activity('get_last_sync_dt').output.firstRow.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_AzureSQL_CargoDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-03-06T15:47:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_CargoSource')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Cargo_Dynamic')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Cargo')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_CargoDB')]"
			]
		}
	]
}